* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.navy {
    background-color: #1F2937;
}
.gray {
    background-color: #E5E7EB;
}
.blue {
    background-color: #3882F6;
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0px;
    max-width: 1000px;
    margin: 0 auto;
}

.header .logo {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}
.header .links {
    display: flex;
    list-style: none;
    gap: 24px;
}
.header .links a {
    font-size: 18px;
    font-weight: 200;
    text-decoration: none;
    color: #E5E7EB;
}
.top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1000px;
    height: auto;
    width: auto;
    margin: 0px auto;
    padding: 72px 0px;
}
.top .placeholder {
    width: 400px;
    height: auto;
    border-radius: 10px;
    border: 2px solid #F9FAF8;
}
.top-left {
    width: 400px;
}
.top-left .big {
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
}
.top-left .description {
    font-size: 18px;
    font-weight: 200;
    color: #E5E7EB;
    margin: 8px 0px 16px;
}

button.sign-up {
    color: #F9FAF8;
    padding: 12px 32px;
    border: 2px solid #F9FAF8;
    border-radius: 10px;
    
}

h2 {
    font-size: 36px;
    font-weight: bold;
    color: #1F2937;
    margin: 16px 0px 16px 0px;
}
.two {
    text-align: center;
    padding: 56px 0px;
    height: auto;
    width: auto;
    background-color: #F9FAF8;
}
.two .images {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 32px;
    margin-bottom: 16px;
}
.two .images p {
    font-size: 16px;
    font-weight: 200;
    color: #1F2937;

}
.first,
.second,
.third,
.fourth {
    width: 150px;
}
.two .pic {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border: 2px solid #1F2937;
    border-radius: 15px;

}

.three {
    height: auto;
    width: auto;
}
.words {
    width: 750px;
    margin: 0 auto;
    padding: 128px 0px;
}
.three .quote{
    font-size: 36px;
    font-style: italic;
    font-weight: 200;
    color: #1F2937;

}
.three .author {
    text-align: end;
    margin-top: 24px;
}

.four {
    height: auto;
    width: auto;
    background-color: #F9FAF8;
    padding: 64px 128px;
}
.content {
    height: auto;
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 64px;
    border-radius: 10px;
}
h3 {
    color: #F9FAF8;
    font-weight: bold;
    font-size: 28px;
}
.bottom-left p {
    color: #F9FAF8;
    font-size: 16px;
}

.footer {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F9FAF8;
    font-size: 18px;

}

.e {
    width:50px;
    height: 50px;
    object-fit: cover;
    
}


